.member {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.member-img {
    position: relative;
    overflow: hidden;
}

.social {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
    text-align: center;
}

.social a {
    transition: color 0.3s;
    color: #0f394c;
    margin: 0 3px;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background: rgba(73, 181, 231, 0.8);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    color: #fff;
}

.social a:hover {
    background: #76c7ed;
}

.social i {
    font-size: 18px;
    line-height: 0;
}

.member-info {
    padding: 25px 15px;
}

.member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #0f394c;
}

.member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}

.member-info p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.member:hover .social {
    opacity: 1;
    bottom: 15px;
}