.counts {
    background: url("../../../assets/img/counts-bg.jpg") center center no-repeat;
    background-size: cover;
    padding: 80px 0 60px 0;
    position: relative;
}

.counts::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.title {
    position: relative;
    color: #0f394c;
    margin-bottom: 40px;
}

.title h3 {
    font-size: 36px;
    font-weight: 700;
}

.counters span {
    font-size: 44px;
    font-weight: 700;
    display: block;
    color: #49b5e7;
    font-family: "Dosis", sans-serif;
}

.counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #444444;
}

@media (min-width: 1200px) {
    .counts {
        background-attachment: fixed;
    }
}